<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887814755215-2k4rjqdj92pvfigdu72j1qkrrj12cf02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887814755215-2k4rjqdj92pvfigdu72j1qkrrj12cf02</string>
	<key>API_KEY</key>
	<string>AIzaSyDT7F3S5rbG0dTzJATeu96cZUR4BQ4Ddwo</string>
	<key>GCM_SENDER_ID</key>
	<string>887814755215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SFA.SweatFreeiOSWebView</string>
	<key>PROJECT_ID</key>
	<string>sfawebview</string>
	<key>STORAGE_BUCKET</key>
	<string>sfawebview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887814755215:ios:6711cecd5b602d1321b1fa</string>
</dict>
</plist>